<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="text-content-1">
        <h2 class="moto-text_system_5">A Trendy Doors for Trendy Home</h2>
      </div>
      <div class="text-content-2">
        <span>
          <img
            src="https://template107704.motopreview.com/mt-demo/107700/107704/mt-content/uploads/2020/07/mt-2055-divider.png"
          />
        </span>
        <p class="moto-text_normal mt-4">
          We are a window and door, repair and maintenance company with over 20
          years experience in the trade. We specialise in all glass repairs and
          replacing failed (misty) and broken double glazed units. We can also
          repair single glazed windows and decorative glazing. We can also
          repair most types of window and can replace broken hinges, handles and
          locks on UPVC, Ali, and timber products. We also offer a full window &
          door replacement service in UPVC, Aluminium or Timber at unbeatable
          prices. All direct from the tradesmen, with no pushy salesmen!
        </p>
      </div>
    </div>
    <div class="col-md-6 justify-content-center media">
      <span class="picture-widget-image-link">
        <img
          class="picture img-fluid"
          src="https://template107704.motopreview.com/mt-demo/107700/107704/mt-content/uploads/2020/07/mt-2055-about-img1.jpg"
        />
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 image-left">
      <div class="text-start content-1">
        <span>
          <img
            class="mb-3"
            src="https://template107704.motopreview.com/mt-demo/107700/107704/mt-content/uploads/2020/07/mt-2055-divider.png"
          />
        </span>
        <span class="text-5">Windows</span>
        <p class="text-white">
          Choose window what you want on our site. Our specialist will come to
          you at the appointed time to measure windows.
        </p>
      </div>
    </div>
    <div class="col-md-6 image-right">
      <div class="text-start content-1">
        <span>
          <img
            class="mb-3"
            src="https://template107704.motopreview.com/mt-demo/107700/107704/mt-content/uploads/2020/07/mt-2055-divider.png"
          />
        </span>
        <span class="text-5">Doors</span>
        <p class="text-white">
          The doors you choose for your personal residence or commercial
          building make a very large personal fashion statement.
        </p>
      </div>
    </div>
  </div>
  <div class="row bg">
    <div class="text-center mt-5">
      <h4 style="color: #13c3c9">FEATURES TO BUILD BETTER</h4>
      <h3 class="mt-3">Our Core Features</h3>
    </div>
    <div class="col-md-4 mt-5">
      <div class="col-md-9 card-1 border border-light text-center bg-white">
        <i class="fas fa-lightbulb mt-3 fa-2x text-success"></i>
        <h2 class="mt-3">Creative Solutions</h2>
        <p class="mx-5 px-2 my-3 pb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="col-md-9 border border-light ms-5 text-center bg-white">
        <i class="fas fa-cogs mt-3 fa-2x text-success"></i>
        <h2 class="mt-3">High Performance</h2>
        <p class="mx-5 px-2 my-3 pb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="me-5 col-md-9 border border-light text-center bg-white">
        <i class="fas fa-briefcase mt-3 fa-2x text-success"></i>
        <h2 class="mt-3">Easy To Customize</h2>
        <p class="mx-5 my-3 px-2 pb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
    </div>
  </div>
  <div class="row image-bg align-items-lg-center">
    <div class="text-white text-center pb-0 mb-0">
      <h4>Discuss Your Dream Project</h4>
      <p class="mt-3">For A Free Consultation Call Today +707 555-321</p>
      <button class="btn btn-warning text-white">contract us now</button>
    </div>
  </div>

  <div class="row text-center mt-5">
    <h5 style="color: #c5a862">Explore Our Product</h5>
    <h2>Our Main Product</h2>
  </div>

  <div class="row text-center my-3 mt-5">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-md-3 border-light">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/Blow-01-1.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/Jeffeson-01.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/Easy-Peasy-01.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/JIM-04.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/Kelly-Cluster-01.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/Sky-Fall-01-1.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src="https://www.lodes.com/wp-content/uploads/2021/03/A-Tube-Nano-Duo-01.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card" style="width: 21rem">
                  <img
                    class="card-img-top"
                    src=" https://www.lodes.com/wp-content/uploads/2021/03/Sky-Fall-01.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blow</h5>
                    <p class="card-text text-start">
                      As light as a breath, Blow is an ethereal and original
                      table lamp. Made from blown glass, it contains a bright
                      LED module that can be directed inside the diffuser to
                      create ever-different beams of light. Perfect for reading
                      or furnishing personal and intimate spaces.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-prev bg-transparent w-aut"
          href="#recipeCarousel"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a
          class="carousel-control-next bg-transparent w-aut"
          href="#recipeCarousel"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
