.bg{
    margin-top: 10% !important;
    background: #333333;
    padding-bottom: 5em;
  }

  ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }

  input:focus {
    outline: none !important;
}

input{
  height: 2.5em;
  width: 12em;
}

.btn-subscribe{
 width: 12em;
}