<div class="row bg">
  <div class="col-md-3 text-center">
    <div class="mt-5 pt-3">
      <img src="./../../../assets/image 5.png" />
    </div>
    <div class="mt-5">
      <p class="text-white mx-5 px-3">
        Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
      </p>
    </div>
    <div class="mt-2">
      <i
        class="fab fa-facebook-square mx-2 fa-2x text-white"
        style="background-color: #4e6297"
      ></i>
      <i class="fab fa-youtube mx-2 fa-2x text-danger"></i>
      <i class="fab fa-linkedin mx-2 fa-2x" style="color: #4e6297"></i>
      <i class="fab fa-twitter-square mx-2 fa-2x text-primary"></i>
    </div>
  </div>
  <div class="col-md-3 text-white text-center mt-5">
    <div>
      <h2>Quick Link</h2>
      <a class="d-block text-white mt-5">About Us</a>
      <a class="d-block text-white mt-2">Our Team</a>
      <a class="d-block text-white mt-2">features</a>
      <a class="d-block text-white mt-2">Our Blog</a>
      <a class="d-block text-white mt-2">How It Works</a>
    </div>
  </div>
  <div class="col-md-3 text-white text-center mt-5">
    <div>
      <h2>Help</h2>
      <a class="d-block text-white mt-5">FAQ</a>
      <a class="d-block text-white mt-2">Privacy Policy</a>
      <a class="d-block text-white mt-2">Support Info</a>
      <a class="d-block text-white mt-2">Terms of Service</a>
      <a class="d-block text-white mt-2">Contact Us</a>
    </div>
  </div>
  <div class="col-md-3 mt-5 text-white">
    <div>
      <h2>Newsletter</h2>
      <input
        type="text"
        class="mt-4 rounded-pill text-white border-0"
        style="background-color: #151725"
        placeholder="  Email address"
      />
      <div class="mt-4">
        <button
          class="
            btn btn-info
            text-white text-capitalize
            rounded-pill
            btn-subscribe
          "
        >
          subscribe <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row text-white text-center" style="background-color: #1a1c2d">
  <p class="mt-2 mb-0 fs-6 fw-lighter">Snoki © 2021</p>
  <p class="pt-0 fs-6 fw-lighter">Designed by Quan Dang.</p>
</div>
